
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="m-5">
        <h1 class="text-center w-100 f-3">Inicio de sesion</h1>
        <div class="text-center my-5">
            <img src="../../../../assets/img/login.jpeg" alt="img" class="w-50 rounded-circle">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
        </div>
      
    
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1">
    </div>
    <div class="text-center">
    <button type="submit"  class="btn btn-primary text-center" [disabled]="loginForm.invalid" >Submit</button>
</div>
</div>
  </form>
